<html>
<body>
<h2>Add Bootstrap color border spinners to page</h2>
<br />

<p>This Rails app accompanies the blog article at
<a href="https://blog.bbs-software.com/blog/2020/05/07/add-bootstrap-to-rails-6-with-two-shell-commands.html">https://blog.bbs-software.com/blog/2020/05/07/add-bootstrap-to-rails-6-with-two-shell-commands.html</a>.
</p>
<br />

<h3>If Bootstrap is installed and configured correctly, you will see border spinners (spinning circles)
  of different colors below:
</h3>

<p></p>
<p></p>

<div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

<br />
<br />
<br />
<p>If you are not seeing the spinning circles, you may need to run <code>yarn add bootstrap jquery popper.js</code>.</p>
</body>
</html>
